.food-section img{
    width: 5.5em;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2em;
}
.box a{
    padding: 1.5em;
    display: flex;
    gap:2em;
    align-items:center;
    background-color:#EDEDED;
    border-radius:15px;
}